$charcolor: #00f633;
body {
    background: black;

    #terminal {
        color: #00f633;
    }

    #user {
        color: #00f633;
    }

    #dir {
        color: #00f633;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }

    .Title {
        font-size: 0.5em; /* Change this value to set the font size */
	color: $charcolor;
    }
}

a {
    color: $charcolor;

    .Title {
         font-size: 1.0em; /* Change this value to set the font size */
         color: $charcolor;
    }
}
